<!-- IF ANTIBOT_100500_ID -->
<script>
	function n4H7xYfFKi8lVqq9(){var a=document.getElementsByName('form_token');if(document.getElementById('uWgKUigev1RVxLON')==null){var b="{ANTIBOT_100500_ID}"}else{var b=document.getElementById('uWgKUigev1RVxLON').value;document.getElementById('uWgKUigev1RVxLON').remove()}for(var i=0;i<a.length;i++){a[i].value=a[i].value.replace(b,'')}}n4H7xYfFKi8lVqq9();$('#qr_posts').on('qr_loaded',n4H7xYfFKi8lVqq9);$('#qr_postform').on('qr_outdated_form',n4H7xYfFKi8lVqq9);$('#qr_postform').on('qr_captcha_refreshed',n4H7xYfFKi8lVqq9);
</script>
<!-- ENDIF -->
<!-- IF S_MARK_POSSIBLE_SPAMBOTS -->
<script>
	document.addEventListener('DOMContentLoaded',function(){var a=document.querySelectorAll('.ab42-possible-spambot');for(var b of a)b.parentNode.parentNode.style.background='#ffdee4';var c=document.querySelectorAll('p em');for(var b of c)if(b.innerText.indexOf('{LA_LEGEND}')!==-1)b.insertAdjacentHTML('beforeend',', <span style="background: #ffdee4; padding: 2px 5px;">{LA_ANTIBOT42_POSSIBLE_SPAMBOTS}</span>')});
</script>
<!-- ENDIF -->

{#
Compatibility stuff
U_REGCHECK goes from tas2580/regcheck v1.0.0 https://www.phpbb.com/customise/db/extension/ajax_regcheck/
PCGF_AJAXREGISTRATIONCHECK goes from pcgf/ajaxregistrationcheck v1.0.1 https://www.phpbb.com/customise/db/extension/ajax_registration_check/
#}
<!-- IF U_REGCHECK -->
	<!-- INCLUDE @nekstati_antibot42/compat/tas2580_regcheck.html -->
<!-- ELSEIF PCGF_AJAXREGISTRATIONCHECK -->
	<!-- INCLUDE @nekstati_antibot42/compat/pcgf_ajaxregistrationcheck.html -->
<!-- ENDIF -->