<!-- IF XT_EMOJI_ROFL -->
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<a href="{U_XT_POST_REPLY_TOPIC}" class="button" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_XT_POST_REPLY}<!-- ENDIF -->" aria-hidden="true" tabindex="-1" rel="nofollow" style="position: absolute; overflow: hidden; z-index: -10; width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
			<!-- IF S_IS_LOCKED -->
				<span>{L_BUTTON_TOPIC_LOCKED}</span> <i class="icon fa-fw" aria-hidden="true"></i>
			<!-- ELSE -->
				<span>{L_XT_BUTTON_POST_REPLY}</span> <i class="icon fa-fw" aria-hidden="true"></i>
			<!-- ENDIF -->
		</a>
	<!-- ENDIF -->
<!-- ENDIF -->
