<!-- IF not S_IS_BOT and XT_EMOJI_ROFL -->
<a href="{U_XT_POST_NEW_TOPIC}" class="button" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_XT_POST_TOPIC}<!-- ENDIF -->" aria-hidden="true" tabindex="-1" rel="nofollow" style="position: absolute; overflow: hidden; z-index: -10; width: 1px; height: 1px; padding: 0; margin: 0; border: none;">
	<!-- IF S_IS_LOCKED -->
		<span>{L_BUTTON_FORUM_LOCKED}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
	<!-- ELSE -->
		<span>{L_XT_BUTTON_NEW_TOPIC}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
	<!-- ENDIF -->
</a>
<!-- ENDIF -->
